$main-color: #000000; // bgc, bg
$lighter-main-color: #121212;
$secondary-color: #3c2a21; //hover
$darker-secondary-color: #33241c;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e; //color
$hero-img-color: rgba(0, 0, 0, 0.4);
$white-hover: #cecece;

$shadow: linear-gradient(45deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
$gradient-solid: linear-gradient(45deg, rgb(0, 0, 0), rgb(31, 31, 31));
