$main-color: #0c0c0c; // bgc, bg
$main-color2: #101010; // bgc, bg
$secondary-color: #333; //hover
$darker-secondary-color: #33241c;
$pure-white: #fff;
$light-white: #eee;
$light-white2: #e0e0e0;
$dark: #2e2e2e; //color
$hero-img-color: rgba(0, 0, 0, 0.4);
$white-hover: #cecece;

$shadow: linear-gradient(45deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
$gradient-solid: linear-gradient(45deg, rgb(0, 0, 0), rgb(31, 31, 31));
